.person {
  display: flex;
  flex-direction: row;
}
.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.info {
  position: relative;
  left: 1em;
  top: 0.5em;
}
.age {
  color: rgb(114, 113, 113);
}
.name {
  font-weight: 600;
}
